* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.app-container {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(89, 81, 92, 0.726);
  margin-top: 0;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  height: 3rem;
  padding: 0.3rem;
}

.heading .web-title {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: 900;
  font-family: 'Monoton', cursive;
}

a {
  text-decoration: none;
}

.heading .navbar ul {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

.navbar ul li {
  list-style: none;
  margin-right: 1.5rem;
}

.navbar ul li a:hover {
  background-color: rgb(133, 129, 126);
  border-radius: 0.2rem;
  color: whitesmoke;
}

/* main section style of the website */
.app-container .content {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #20262e;

  /* position: absolute; */
}

.content section {
  display: flex;
  flex-direction: column;
}

.title-link {
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 1rem;
  color: whitesmoke;
}

.content .item-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #20262e;
}

.card {
  display: flex;
  flex-direction: column;
  width: 23rem;
  height: 26rem;
  background-color: #8a929c;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 3.5rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  transition: ease-in-out 0.5s;

  /* backdrop-filter: blur(10px); */
}

.card:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.picture {
  width: 22rem;
  height: 17rem;
  margin-right: 2rem;
}

.comment-model {
  /* display: flex; */
  flex-direction: column;
  width: 90vw;
  height: 80rem;
  margin-left: 4rem;
  position: absolute;
  z-index: 20;
  top: 25%;
  bottom: 20%;
  display: none;
}

.comment-card {
  display: flex;
  flex-direction: column;
  padding: 2rem 6rem;
  width: 100%;
  background-color: rgb(226, 236, 233);
  margin-left: 2rem;
  border-radius: 0.4rem;
}

form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 20rem;
  height: 3rem;
}

form button {
  width: 10rem;
  height: 3rem;
}

footer {
  text-align: center;
  font-size: 14px;
  height: 4rem;
  padding: 1rem;
  font-style: italic;
}
